<!DOCTYPE html>
<html lang="en" dir="ltr">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <link href="/assets/css/rating.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Include Editor style. -->
    <link
        href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/css/froala_editor.min.css'
        rel='stylesheet'
        type='text/css'/>
    <link
        href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/css/froala_style.min.css'
        rel='stylesheet'
        type='text/css'/>
    <!-- Include JS file. -->
    <script
        type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/js/froala_editor.min.js'></script>

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>

    <body>
        {% if logiran %}
            <div class="wrapper">
                <div class="container-fluid bmail-header">
                    <div class="container">
                        <div class="row menu">
                            <ul class="nav col-8">
                                <li class="nav-item">
                                    <a class="nav-link" href="/"><img class="logo" src="/assets/img/bmail-logo-01.png"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <i class="fas fa-envelope">
                                            <span>
                                                Inbox</span></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/outbox">
                                        <i class="fas fa-paper-plane">
                                            <span>
                                                Sent</span></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/add">
                                        <i class="fas fa-edit">
                                            <span>
                                                New</span></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/deleted">
                                        <i class="fas fa-trash">
                                            <span>
                                                Deleted</span></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="col-4 login">
                                <div class="weather-switch">
                                    <label class="switch">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider round"></span>
                                    </label>
                                    <span>
                                        weather</span></div>
                                &nbsp;|&nbsp;<a href="{{ logout_url }}">
                                    <i class="fas fa-sign-out-alt"></i>Logout</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="weather unactive col-10">
                            Weather in
                            <span>{{ weather_info.name }}</span>
                            <img
                                src="https://openweathermap.org/img/w/{{ weather_info.weather[0].icon }}.png">
                            Temperature:
                            <span>{{ weather_info.main.temp }}
                                °C</span>
                        </div>
                        <div class="weather unactive col-2">
                            <a href="/weather-location">Change location</a>
                        </div>
                    </div>
                </div>
            
            <div class="container main-content">
                <div class="row">
                    {% block specifika %}{% endblock specifika %}

                </div>
            </div>
            <div class="push"></div>
        </div>
        <div class="container-fluid bmail-footer">
            <div class="container">
                Copyright by wanna be SmartNinja @2019
            </div>
        </div>
    {% else %}
        <div class="login-page align-self-center">
            <div class="container text-center">
                <h1>Welcome to Bmail</h1>
                <a href="{{ login_url }}">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        $(".slider").click(function () {
            $(".weather").toggleClass("unactive");
        });

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

        $(function () {
            $('textarea#froala-editor').froalaEditor()
        });
    </script>
</body>
</html>